<html class="page" ng-app="calculators">

<head v>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculators</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
    crossorigin="anonymous">
    <link rel='stylesheet' href='assets/styles/style.css'>
</head>

<body>
    <div class="container">
        <div id="calculator" class="panel panel-primary" ng-controller="BmiController as bmi" id="bmi">
            <div class="panel-heading">
                <h1 class="panel-title"> BMI Calculator </h1>
            </div>
            <div class="panel-body">
                <h2>BMI: {{result}}</h2>
                <label for="weight"> Weight in Pounds: </label>
                <input type="number" ng-model="weight" class="form-control" />
                <label for="height"> Height in Inches: </label>
                <input type="number" ng-model="height" class="form-control" />
                <button class="btn btn-primary" ng-click="newBMI()">Get BMI</button>
                <button class="btn btn-danger" ng-click="reset()">Clear</button>
            </div>
        </div>
        <div class="panel panel-primary" ng-controller="FtocController" id="ftoc">
            <div class="panel-heading">
                <h1 class="panel-title">Fahrenheit/Celsius</h1>
            </div>
            <div class="panel-body">
                <h2>Fahrenheit: {{fahrResult}}</h2>  
                <h2>Celsius: {{celResult}}</h2>
                <label for="Fahrenheit"> &#8457: </label>
                <input type="number" ng-model="fahrenheit" class="form-control" />
                <label for="Celsius"> &#8451: </label>
                <input type="number" ng-model="celsius" class="form-control" />
                <button class="btn btn-primary" ng-click="newFahr()">C -> F</button>
                <button class="btn btn-primary" ng-click="newCels()">F -> C</button>
                <button class="btn btn-danger" ng-click="reset()">Clear</button>
            </div>
        </div>
        <div class="panel panel-primary" ng-controller="ItofController" id="ftoc">
            <div class="panel-heading">
                <h1 class="panel-title">Feet/Inches</h1>
            </div>
            <div class="panel-body">
                <h2>Feet: {{feetResult}}</h2> 
                <h2>Inches {{inchesResult}}</h2>
                <label for="Feet"> Feet: </label>
                <input type="number" ng-model="feet" class="form-control" />
                <label for="inches"> Inches: </label>
                <input type="number" ng-model="inches" class="form-control" />
                <button class="btn btn-primary" ng-click="newInches()">F -> I</button>
                <button class="btn btn-primary" ng-click="newFeet()">I -> F</button>
                <button class="btn btn-danger" ng-click="reset()">Clear</button>
            </div>
        </div>
        <div class="panel panel-primary" ng-controller="KtomController" id="ktom">
            <div class="panel-heading">
                <h1 class="panel-title">Kilometers/Miles</h1>
            </div>
            <div class="panel-body">
                <h2> Kilometers: {{kiloResult}}</h2> 
                <h2>Miles: {{milesResult}}</h2>
                <label for="kilometers"> Kilometers: </label>
                <input id="kilometers" type="number" ng-model="kilometers" class="form-control" />
                <label for="miles"> Miles: </label>
                <input id="miles" type="number" ng-model="miles" class="form-control" />
                <button class="btn btn-primary" ng-click="newMiles()">K -> M</button>
                <button class="btn btn-primary" ng-click="newKilometers()">M -> K</button>
                <button class="btn btn-danger" ng-click="reset()">Clear</button>
            </div>
        </div>
        <div class="panel panel-primary" ng-controller="PtokController" id="ptok">
            <div class="panel-heading">
                <h1 class="panel-title">Pounds/Kilograms</h1>
            </div>
            <div class="panel-body">
                <h2> Pounds: {{poundsResult}}</h2> 
                <h2>Kilograms:  {{kiloResult}}</h2>
                <label for="pounds"> Pounds: </label>
                <input id="pounds" type="number" ng-model="pounds" class="form-control" />
                <label for="kilograms"> Kilograms: </label>
                <input id="kilograms" type="number" ng-model="kilograms" class="form-control" />
                <button class="btn btn-primary" ng-click="newKilograms()">P -> K</button>
                <button class="btn btn-primary" ng-click="newPounds()">K -> P</button>
                <button class="btn btn-danger" ng-click="reset()">Clear</button>
            </div>
        </div>
        <div class="panel panel-primary" ng-controller="LandpController" id="landp">
            <div class="panel-heading">
                <h1 class="panel-title">Compund Interest</h1>
            </div>
            <div class="panel-body">
                <h2> Total: {{answer}} </h2>
                <label for="principal"> Principal Balance: </label>
                <input id="principal" type="number" ng-model="principal" class="form-control" />
                <label for="rate"> Interest Rate: </label>
                <input id="rate" type="number" ng-model="rate" class="form-control" />
                <label for="payments"> Number of Payments: </label>
                <input id="rate" type="number" ng-model="payments" class="form-control" />
                <button class="btn btn-primary" ng-click="submit()">Submit</button>
                <button class="btn btn-danger" ng-click="reset()">Clear</button>
            </div>
        </div>

        <div class="return">
            <button class="btn btn-primary" onclick="location.href='http://bsteckman.github.io/#/#portfolio'">Return to Home Page</button>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
    <script src="app\app.js"></script>
    <script src="app\components\MainController.js"></script>
    <script src="app\components\BMI\BmiController.js"></script>
    <script src="app\components\F to C\FtocController.js"></script>
    <script src="app\components\inches to feet\ItofController.js"></script>
    <script src="app\components\km to miles\KtomController.js"></script>
    <script src="app\components\Lbs to Kgs\PtokController.js"></script>
    <script src="app\components\loans and payments\LandpController.js"></script>
</body>

</html>